<header>
    <h1>
        <img src="{{ .Site.BaseURL }}/images/imi.svg" alt="IMI Logo">
        <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
    </h1>
    <nav>
        <span>
            {{ $semester := (or .Page.Section .Site.Params.current_semester) }}
            {{ range first 1 (where .Site.Sections "Title" $semester) }}
                {{ .Params.full_title }} &blacktriangledown;
            {{ end }}
        </span>
        <ul>
            {{ range .Site.Sections }}
                <li><a href="{{ .Permalink }}">{{ .Params.full_title }}</a></li>
            {{ end }}
        </ul>
    </nav>
</header>
