{{ define "main" }}
    {{ .Content }}
    <section class="card-container">
        {{ range sort (where .Site.RegularPages "Section" "!=" "") "Title" }}
            <a href="{{ .Permalink }}" class="card">
                <img src="{{ if .Params.card_image }}{{ print .File.Dir (.Resources.GetMatch .Params.card_image) }}{{ else }}images/placeholder.png{{ end }}" alt="{{ .Title }}">
                <h2>{{ .Title }}</h2>
                <span>{{ .Type }}</span>
                <p>{{ .Summary }}</p>
            </a>
        {{ end }}
    </section>
{{ end }}
